@using AccountBook.Models.ViewModels
@using AccountBook.Helpers
@model IEnumerable<AccountBookViewModel>

@{
    Layout = null;
}

<div class="row">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-hover">
                <tr>
                    @*這邊用index取值，如果碰到model.count = 0 竟然不會會報錯*@
                    <th>#</th>
                    <th>@Html.DisplayNameFor(model => model.Category)</th>
                    <th>@Html.DisplayNameFor(model => model.DateTime)</th>
                    <th>@Html.DisplayNameFor(model => model.Value)</th>
                </tr>
                @{
                    var i = 1;
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@(i++)</td>
                            <td>@CategoryEnumToColorString(item.Category)</td>
                            <td>@(item.DateTime.ToString("yyyy-MM-dd"))</td>
                            <td>@(item.Value.ToString("#,###"))</td>
                        </tr>
                    }
                }
                </table>
            </div>
        </div>
    </div>

@functions
{
    /// <summary>
    /// 當Category為Income，文字顯示為藍色，否則為紅色
    /// </summary>
    /// <param name="category">收入或支出</param>
    /// <returns></returns>
}
@helper CategoryEnumToColorString(CategoryEnum? category)
{
        string color;
        if (category == CategoryEnum.Income)
        { color = "blue"; }
        else
        { color = "red"; }
        <font color=@color>@(EnumDataHelper<CategoryEnum?>.GetDisplayValue(category))</font>   
}