@using AccountBook.Models.ViewModels
@using AccountBook.Helpers
@model IndexViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="well">
    

</div>

@*這裡不加入兩個<hr/>的話，第一個DropdownList會被Header Menu遮掉*@
<hr />
<hr />

<div class="well">

    @using (Ajax.BeginForm(new AjaxOptions
    {
        UpdateTargetId = "RecordQueryResult",
        Url = Url.Action("CreateAccountRecordAndShowResult"),
    }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(model => model.AccountRecord.Category, htmlAttributes: new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @*這邊的CategoryEnum取得DisplayValue的方式蠻複雜的，後來查詢到可以使用「中文」的Enum....
                        不過如果呈現的名稱有空格或是其他奇怪的東西，可能還是得用GetDisplayValue來呈現*@
                    @Html.DropDownListFor(model => model.AccountRecord.Category,
               new List<System.Web.Mvc.SelectListItem>()
               {
                   new SelectListItem { Text = "請選擇" },
                   new SelectListItem { Text = EnumDataHelper<CategoryEnum>.GetDisplayValue(CategoryEnum.Expense), Value = ((int)CategoryEnum.Expense).ToString() },
                   new SelectListItem { Text = EnumDataHelper<CategoryEnum>.GetDisplayValue(CategoryEnum.Income), Value = ((int)CategoryEnum.Income).ToString() }
               },
               htmlAttributes: new { @class = "form-control", @id = "Category" })
                    @Html.ValidationMessageFor(model => model.AccountRecord.Category, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AccountRecord.Value, htmlAttributes: new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.EditorFor(model => model.AccountRecord.Value, new { htmlAttributes = new { @class = "form-control", @placeholder = "金額", @id = "Value" } })
                    @Html.ValidationMessageFor(model => model.AccountRecord.Value, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AccountRecord.DateTime, htmlAttributes: new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.EditorFor(model => model.AccountRecord.DateTime, new { htmlAttributes = new { @class = "form-control", @placeholder = "日期", @id = "DateTime" } })
                    @Html.ValidationMessageFor(model => model.AccountRecord.DateTime, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.AccountRecord.Comment, htmlAttributes: new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(model => model.AccountRecord.Comment, htmlAttributes: new { @class = "form-control", @id = "Comment" })
                    @Html.ValidationMessageFor(model => model.AccountRecord.Comment, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-8 col-sm-4">
                    <button type="submit" class="btn btn-default">送出</button>
                </div>
            </div>
        </div>
    }

</div>

@*使用AJAX的方式顯示List看看*@
<div id="RecordQueryResult">
   @Html.Partial("_accountBookList", Model.RecordQueryResult)
</div>


@*
    AJAX成功執行的條件：
    1. 記得安裝Microsoft.jQuery.Unobstusive.Ajax以及jQuery.Unobstusive.Ajax
    2. View程式碼最下端要引用script

    Validate成功執行的條件：
    1. View程式碼最下端要引用script
*@
@section scripts{
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}