@model AccountBook.Models.ViewModels.AccountBookViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="well">
    @*這裡不加入兩個<hr/>的話，第一個DropdownList會被Header Menu遮掉*@
    <hr />
    <hr />
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.EnumDropDownListFor(model => model.Category, "請選擇", htmlAttributes: new { @class = "form-control" } )
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Value, htmlAttributes: new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.EditorFor(model => model.Value, new { htmlAttributes = new { @class = "form-control", @placeholder = "金額" } })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DateTime, htmlAttributes: new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.EditorFor(model => model.DateTime, new { htmlAttributes = new { @class = "form-control", @placeholder = "日期" } })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Comment, htmlAttributes: new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.TextAreaFor(model => model.Comment, htmlAttributes: new { @class = "form-control" } )
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-8 col-sm-4">
                <button type="submit" class="btn btn-default">送出</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-hover">
                <tr>
                    <th>#</th>
                    <th>類別</th>
                    <th>日期</th>
                    <th>金額</th>
                </tr>
                @foreach (var item in (List<AccountBook.Models.ViewModels.AccountBookViewModel>)ViewData["AccountBookQuery"])
                {
                    <tr>
                        <td>@(item.Id)</td>
                        <td>@(AccountBook.Helpers.EnumDataHelper<AccountBook.Models.ViewModels.CategoryEnum?>.GetDisplayValue(item.Category))</td>
                        <td>@(item.DateTime.ToString("yyyy-MM-dd"))</td>
                        <td>@(item.Value.ToString("#,###"))</td>
                    </tr>
                }
            </table>
        </div>
    </div>

</div>
