@model AccountBook.Models.ViewModels.AccountBookViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="well">
    @*這裡不加入兩個<hr/>的話，第一個DropdownList會被Header Menu遮掉*@
    <hr />
    <hr />
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.EnumDropDownListFor(model => model.Category, "請選擇", htmlAttributes: new { @class = "form-control" } )
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Value, htmlAttributes: new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.EditorFor(model => model.Value, new { htmlAttributes = new { @class = "form-control", @placeholder = "金額" } })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DateTime, htmlAttributes: new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.EditorFor(model => model.DateTime, new { htmlAttributes = new { @class = "form-control", @placeholder = "日期" } })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Comment, htmlAttributes: new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.TextAreaFor(model => model.Comment, htmlAttributes: new { @class = "form-control" } )
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-8 col-sm-4">
                <button type="submit" class="btn btn-default">送出</button>
            </div>
        </div>
    </div>
</div>

@*使用Partial的方式顯示List看看*@
@Html.Partial("_accountBookList", (List<AccountBook.Models.ViewModels.AccountBookViewModel>)ViewData["AccountBookQuery"])